:root {
    --background: #101c22;
    --primary: #42b6f0;

    --card: #374151;
    --text: #F9FAFB;
    --text-muted: #9CA3AF;
    --borde: #4B5563;

    --background-light: #f6f7f8;
    --card-light: #FFFFFF;
    --text-light: #111827;
    --text-muted-light: #6B7280;
    --border-light: #E5E7EB;



}